/* Importando as fontes necessarias para o projeto */
@font-face {
    font-family: Titil-Black;
    src: url(../assets/fonts/TitilliumWeb-Black.ttf);
}
@font-face {
    font-family: Titil-Bold;
    src: url(../assets/fonts/TitilliumWeb-Bold.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: TitilliumWeb-Black;
    font-size: 80px;
    text-shadow: 1px 1px 1px #FD4255;
}
/* Mobile First */
header .headertop .contatos .phone{
}